body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

#layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100v;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.scoreHeader {
  font-size: 2rem;
}

#footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.footerMessage {
  font-size: 2rem;
}

#nextBtn {
  height: 2rem;
  width: 8rem;
  border: 1px solid black;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nextBtn:hover {
  cursor: pointer;
}

#boardContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(10, calc((100% - 10px) / 10));
  grid-template-rows: repeat(10, calc((100% - 10px) / 10));
  border: solid 1px black;
  background-color: black;
  gap: 1px;
}

.grid-cell {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cell:hover {
  cursor: pointer;
}

.yourTurn {
  border: 1px solid black;
  padding: 2rem;
}

.hitIcon {
  height: 50px;
  width: 50px;
}

/*The Following is for the ship placement page*/
#shipSetupContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.shipSetup {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(10, calc((100% - 10px) / 10));
  grid-template-rows: repeat(10, calc((100% - 10px) / 10));
  border: solid 1px black;
  background-color: black;
  gap: 1px;
}
#setupHeader {
  display: flex;
  height: 15vh;
  justify-content: space-around;
  align-items: center;
}

#rotateDiv:hover {
  cursor: pointer;
}


#shipPlaceFooter {
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.shipSetupBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 10rem;
  border: 1px solid black;
  border-radius: 2rem;
}